body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.hero {
  text-align: center;
}

.title {
  margin-bottom: 10px;
}

.subTitle {
  margin-bottom: 20px;
}

.call-to-action {
  margin: auto;
}
