@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

:root {
  --text-color: #ffffff;
  --primarycolor: #e83333;
  --navyblue: #123456;
  --secondarycolor: #e0e0e0;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1a1a1a;
  font-family: "Inter", sans-serif;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

/* Navigation-Section */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  height: 5rem;
}

.nav-content {
  padding: 0 0.2rem;
  border: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  transition: color 0.3s ease-in-out;
}

.nav-content:hover {
  color: var(--primarycolor);
}

/* Hero-Section */

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5rem);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-size: 6rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  color: var(--text-color);
  font-family: "Italianno", cursive;
}

.subtitle {
  font-size: 1.35rem;
  color: var(--secondarycolor);
  padding: 0;
  margin: 0;
}

.hero-call-to-action {
  font-size: 1.1rem;
  padding: 1.2rem;
  margin: 3rem 0 0 0;
  border: 1px solid var(--primarycolor);
  background-color: var(--primarycolor);
  color: var(--text-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.hero-call-to-action:hover {
  background-color: transparent;
  color: var(--primarycolor);
}

/* About-Section */

.about {
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 4rem 2rem;
  gap: 2rem;
  color: var(--text-color);
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-title {
  font-size: 1.8rem;
  margin: 0 0 1.2rem 0;
  text-transform: uppercase;
  border-bottom: 1px solid var(--primarycolor);
}

.about-lorem {
  font-size: 0.9rem;
  margin: 0 0 2rem 0;
  color: var(--secondarycolor);
}

.div-about-img {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  gap: 0.5rem;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-img-tiny {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.about-img-big {
  min-width: 50%;
}

.about-call-to-action {
  font-size: 1.1rem;
  padding: 1.2rem;
  border: 1px solid var(--primarycolor);
  background-color: var(--primarycolor);
  color: var(--text-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.about-call-to-action:hover {
  border: 1px solid var(--primarycolor);
  background-color: transparent;
  color: var(--primarycolor);
}

/* Opening time-Section */

/* Responsive Changes */

@media screen and (min-width: 600px) {
  .nav-content {
    padding: 0 1rem;
    font-size: 1.2rem;
  }

  .title {
    font-size: 7rem;
  }
  .subtitle {
    font-size: 1.6rem;
  }

  .about-lorem {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1000px) {
  .title {
    font-size: 8rem;
  }
  .subtitle {
    font-size: 1.9rem;
  }
  .nav-content {
    padding: 0 2rem;
    font-size: 1.4rem;
  }

  .about {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .about {
    max-width: 1200px;
    margin: 4rem auto;
  }
}
